@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');
body{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%; 
    height: 97.5vh; 
    background-image: linear-gradient( to left, #451ad3, #7b67c3);
    background-repeat: no-repeat;
    background-size: cover;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}
.inner{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        border: none;
        border-radius: 15px;
        box-shadow: 2px 0px 20px 3px;
        width: 800px;
}

#i1{
    font-size: larger;
}
h2{
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 20px;
    font-size: 35px;
}
.inner1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px 10px 50px;
    gap: 35px;
    width: 35%;
    line-height: 0;

}
.line{
    height: 410px;
    width: 1px;
    max-width: 2%;
    background-color: black;
}
.inner2{
   
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 15px 20px 30px 0px;
    line-height: 0px;
   
}
.inner2-1{
    
    display: flex;
    justify-content:space-between;
    gap: 70px;
    align-items: center;
    max-height: 300px;
    width: 80%;
    padding: 10px;
   margin-top: -180px;
   position:sticky;
   line-height: 0px;
   border-bottom: 1px solid black;
   
}
label{
    font-size: 20px;
    font-weight: bold;
   
}
.amount{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
input{
    border: none;
    border-bottom:1px solid black;
    padding: 10px;
    letter-spacing: 1px;
}

#btn{
    /* margin-top: 40px; */
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to right, #008cff,#451ad3);
    color: white;

    font-size: 20px;
}
.inner3{
    margin-bottom: -30px;
    position: sticky;
    max-width:400px;
    width: 380px;
    max-height: 150px;
    overflow: auto;
   

}
.inner3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 340px;
}
#c2:nth-child(even){ 
   background-color: white;

}
#c-div:nth-child(odd){
    background-color:rgba(99, 83, 159, 0.3);

}
#c-div:nth-child(even){
    background-color:white

}
/* .c2:nth-child(odd){ 
    background-color:rgba(99, 83, 159, 0.3);
 
 } */


 
#c2{
   
    border: none;
    display: flex;
    justify-content: space-between;
    width: 260px;
    height: 30px;
}
.c-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
    width: 300px;
    height: 30px;
}

li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}


.l3{
    display: none;
}



.lbl1{
font-size: 15px;
display: block;
}

.lbl2{
    display: none;
}

.db1{
    display:none;
}
.db2{
    display: block;
}
#db{
font-size: large;
height: 20px;
}
.res{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 285px;
    max-height: 150px;
    padding: 20px;
    font-size: 20px;
}


.inner4{
   
    display: none;
    max-width:400px;
    margin-bottom: -210px;
    position: sticky;
    border-top: 1px solid black;
  
}


.res1{
    display: block;
}
.res2{
    display: none;
}
